/* Estilos "Sobre" */
.sobre {
    display: flex;
    flex-direction: row;
    padding: 0; 
    /* margin: 0;  */
    height: 100vh; 
    box-sizing: border-box;
    margin-bottom: 70px;
  }
  
  .sobre-imagem {
    width: 40%; 
    height: 111vh; 
    margin: 0; 
  }
  
  .sobre-texto {
    width: 40%; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin-left: 15%; 
    text-align: center; 
    margin-right: 15%;
  }
  
  .sobre-texto h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .sobre-texto p {
    font-size: 20px;
    line-height: 1.6;
    color: aliceblue;
  }