/* Estilos Globais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1D1D1D;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  /* Navegação */
  .nav {
    background-color:#000000;
    ;
    color: white;
    padding: 15px 20px; /* Aumenta o padding para expandir a área colorida */
    display: flex;
    align-items: center;
    position: relative;
    width: 100%; /* Garante que o nav ocupe toda a largura disponível */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total do elemento */
  }
  
  .nav-logo {
    position: absolute;
    left: 20px; /* Ajuste conforme necessário */
  }
  
  .logo-img {
    width: 130px; /* Ajuste a largura do logotipo */
    height: auto; /* Mantém a proporção da imagem */
  }  
  
  .nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px; /* Aumenta o espaçamento entre os itens */
    font-size: 14px; /* Ajusta o tamanho da fonte conforme necessário */
    font-weight: bold;
  }
  
  .nav a:hover {
    color: #007bff;
  }
  
  /* Home */
.home {
    padding: 0; /* Remove padding interno do contêiner */
    margin: 0; /* Remove margens externas do contêiner */
    width: 100%; /* Garante a largura total do contêiner */
    box-sizing: border-box; /* Inclui padding e bordas na largura total */
    text-align: left; /* Assegura que todos os textos dentro do contêiner sejam alinhados à esquerda */
  }
  
  /* Estilos para o título h2 */
.encontre-seu-esporte,
.nossas-marcas {
  text-align: left; /* Alinha o texto à esquerda */
  margin-top: 20px; /* Espaço acima do título */
  margin-bottom: 20px; /* Espaço abaixo do título */
  font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold; /* Ajuste o peso da fonte conforme necessário */
  color: aliceblue; /* Cor do texto */
  display: inline-block; /* Impede o título de ocupar toda a largura disponível */
  margin-left: 22px;
}

/* Adicional para espaçamento */
.home-content {
  margin-top: 30px; /* Espaço acima do conteúdo adicional */
}
  /* Produtos */
  .produtos {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Contato */
  .contato {
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    background-color:#000000;
    ;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Banner */
  .banner {
    width: 100vw; /* Define a largura do banner como 100% da largura da viewport */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    display: block; /* Garante que o banner se comporte como um bloco, ocupando toda a largura */
    margin: 0; /* Remove margens externas */
    padding: 0; /* Remove padding interno */
  }
  
  .banner-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Featured Sports */
  .featured-sports {
    padding: 20px;
  }
  
  .featured-sports h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sports-images {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre imagens */
    margin-bottom: 20px;
  }
  
  .rounded-img {
    border-radius: 10px;
    width: 440px; /* Ajuste o tamanho conforme necessário */
    height: auto;
  }
  
  .small-images {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre imagens */
    margin-bottom: 40px;
  }
  
  .small-rounded-img {
    border-radius: 10px;
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 20px; 
  }
  
  .brand-images {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre imagens */
    margin-bottom: 30px;
  }
  
  .vertical-img {
    border-radius: 10px;
    width: 220px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Ajuste o tamanho conforme necessário */
    margin: 20px; 
  }
  
 /* Estilos "Sobre" */
.sobre {
    display: flex;
    flex-direction: row;
    padding: 0; /* Remove o padding do contêiner para que a imagem fique encostada nas bordas */
    margin: 0; /* Remove a margem externa do contêiner */
    height: 100vh; /* Garante que a página ocupe toda a altura da viewport */
    box-sizing: border-box;
    margin-bottom: 70px;
  }
  
  .sobre-imagem {
    width: 40%; /* Ajuste a largura conforme necessário */
    height: 100%; /* Ajuste para garantir que a imagem ocupe toda a altura do contêiner */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    margin: 0; /* Remove margens */
  }
  
  .sobre-texto {
    width: 40%; /* Ajuste a largura conforme necessário */
    padding: 20px; /* Espaçamento interno ao redor do texto */
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Organiza o título e o texto em coluna */
    justify-content: center; /* Alinha o conteúdo verticalmente no centro */
    margin-left: 15%; /* Move o contêiner de texto para a direita */
    text-align: center; /* Alinha o texto à esquerda dentro do contêiner */
    margin-right: 15%;
  }
  
  .sobre-texto h1 {
    font-size: 40px;
    margin-bottom: 20px; /* Espaço entre o título e o texto */
    color: aliceblue;
  }
  
  .sobre-texto p {
    font-size: 20px;
    line-height: 1.6;
    color: aliceblue;
  }